table {
  width: 100%;
}
th, td {
  padding: 15px;
  text-align: left;
}

table#one tr:nth-child(even) {
  background-color: beige;
}
table#one tr:nth-child(odd) {
  background-color: rgb(240, 186, 142);
}
h1 {
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin-top: -3%;
  padding-bottom: 5%;

}
body {
background-color: rgb(3, 1, 19);
}
.startingPage {
  background-image: url("../image/office.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
} 

#2 {
  color: white;
  background-color: black;
}
#a, #duo {
  text-align: center;
}
#about {
  background-color: darkgrey;
  color:rgb(20, 20, 20); 
  text-align: center;
}
#duo{
  font-size: 22px;
  width: 100%;
  background-color:rgb(1, 0, 8);
  padding: 44px;
  letter-spacing: 3px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#c{
  background-color: beige;
}
body{
  font-family: 'Segoe UI';    
}
h1, #1, h5{
  color: whitesmoke;
}
#1 { 
  font-size: 45px;
  font-weight: 100;
} 
h5{
 text-align: center;
}
ul {
margin: 0;
padding: 0;
display: flex;
position: absolute;
top: 8%;
left: 50%;
transform: translate(-50%, -50%);
}

ul li {
list-style: none;
margin: 0 15px;
}

ul li a {
position: relative; 
  position: relative;
position: relative; 
  position: relative;
position: relative; 
  position: relative;
position: relative; 
  position: relative;
position: relative; 
display: block;
width: 100px;
height: 100px;
text-align: center;
line-height: 63px;
background: rgb(6, 17, 32);
border-radius: 50%;
font-size: 30px;
color: rgb(245, 238, 238);
transition: .5s;
}

ul li a::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 50%;
background: #ffee10;
transition: .5s;
transform: scale(.9);
z-index: -1;
}

ul li a:hover::before {
transform: scale(1.1);
box-shadow: 0 0 15px #ffee10;
}

ul li a:hover {
color: #ffee10;
box-shadow: 0 0 5px #ffee10;
text-shadow: 0 0 5px #ffee10;
}

main {
  display: flex;
  justify-content: stretch;
}
p {
  text-align: center;
  font-size: 100%;
}
h2 {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(39, 38, 38); 
  border-radius: 50%;
  padding: 5px; 
  width: 650px;
  justify-content: space-between;
}
.metoo {
  border-radius: 50%;
}
.sidepan img {
margin-left: 0px;
-webkit-transition: margin 1s ease;
   -moz-transition: margin 1s ease;
     -o-transition: margin 1s ease;
    -ms-transition: margin 1s ease;
        transition: margin 1s ease;
}

.sidepan img:hover {
margin-left: -200px;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid rgb(150, 132, 132);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.me {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  width: 24.99999%;
  background-color:rgb(253, 250, 249);
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
input[type=text], select {
  width: 100%;
  padding: 12px 14px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid darkgrey;
  border-radius: 9px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:rgb(250, 248, 245);
  color: maroon;
  padding: 12px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:rosybrown;
  color: black;
}

div {
  border-radius: 5px;
  padding: 20px;
}
.rachel {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.rachel> div {
   background-color: darkgray;
   width: 100px;
   margin: 10px;
}
.ding {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%
}
.footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* the project*/

#project {
  background: linear-gradient(110deg, #e7eaf1 60%, #d2e5f7 60%);
padding: 25px;
font-family: sans-serif;
}




.myClass {
width: 350px;
height: 550px;
background: white;
margin: auto;
position: relative;
overflow: hidden;
border-radius: 10px 10px 10px 10px;
box-shadow: 0;
-webkit-transform: scale(0.95);
   -moz-transform: scale(0.95);
     -o-transform: scale(0.95);
        transform: scale(0.95);
-webkit-transition: box-shadow 0.5s, -webkit-transform 0.5s;
transition: box-shadow 0.5s, -webkit-transform 0.5s;
-o-transition: box-shadow 0.5s, -o-transform 0.5s;
-moz-transition: box-shadow 0.5s, transform 0.5s, -moz-transform 0.5s;
transition: box-shadow 0.5s, transform 0.5s;
transition: box-shadow 0.5s, transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
}

.myClass:hover {
-webkit-transform: scale(1);
   -moz-transform: scale(1);
     -o-transform: scale(1);
        transform: scale(1);
box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.myClass .container {
width: 100%;
height: 100%;
}

.myClass .container .top {
height: 80%;
width: 100%;
background: url(../image/pizza.png)no-repeat center center;
background-size: 100%;
}
.top1, .top2, .top3, .top4, .top5, .top6, .top7 {
height: 80%;
width: 100%;

}

.top1 {
background: url(../image/quotes.png)no-repeat center center;
}
.top2 {
background: url(../image/luxuries.png)no-repeat center center;
}
.top3 {
background: url(../image/wildlife.png)no-repeat center center;
}
.top4 {
background: url(../image/birth.png)no-repeat center center;
}
.top5 {
background: url(../image/paint.png)no-repeat center center;
}
.top6 {
background: url(../image/github.png)no-repeat center center;
}
.top7 {
background: url(../image/icecream.png)no-repeat center center;
}

.myClass .container .bottom {
width: 200%;
height: 20%;
-webkit-transition: -webkit-transform 0.5s;
transition: -webkit-transform 0.5s;
-o-transition: -o-transform 0.5s;
-moz-transition: transform 0.5s, -moz-transform 0.5s;
transition: transform 0.5s;
transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
}

.myClass .container .bottom.clicked {
-webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
     -o-transform: translateX(-50%);
        transform: translateX(-50%);
}

.myClass .container .bottom h1 {
margin: 0;
padding: 0;
}

.myClass .container .bottom p {
margin: 0;
padding: 0;
}

.myClass .container .bottom .left {
height: 100%;
width: 50%;
position: relative;
float: left;
}

.myClass .container .bottom .left .details {
padding: 0;
float: left;
width: -webkit-calc(70% - 30px);
width: -moz-calc(70% - 30px);
width: calc(70% - 30px);
}

.myClass .container .bottom .left .buy {
float: right;
width: -webkit-calc(30% - 5px);
width: -moz-calc(30% - 5px);
width: calc(30% - 5px);
height: 100%;
-webkit-transition:  0.5s;
-o-transition:  0.5s;
-moz-transition:  0.5s;
transition:  0.5s;
}

.myClass .container .bottom .left .buy i {
font-size: 30px;
padding: 0;
margin-bottom: 50px;
color: #254053;
-webkit-transition: -webkit-transform 0.5s;
transition: -webkit-transform 0.5s;
-o-transition: -o-transform 0.5s;
-moz-transition: transform 0.5s, -moz-transform 0.5s;
transition: transform 0.5s;
transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
}

.myClass .inside {
z-index: 9;
background: #92879B;
width: 140px;
height: 140px;
position: absolute;
top: -70px;
right: -70px;
border-radius: 0px 0px 200px 200px;
-webkit-transition: all 0.5s, border-radius 2s, top 1s;
-o-transition: all 0.5s, border-radius 2s, top 1s;
-moz-transition: all 0.5s, border-radius 2s, top 1s;
transition: all 0.5s, border-radius 2s, top 1s;
overflow: hidden;
}

.myClass .inside .icon {
position: absolute;
right: 65px;
top: 65px;
color: white;
opacity: 1;
}

.myClass .inside:hover {
width: 100%;
right: 0;
top: 0;
border-radius: 0;
height: 80%;
}

.myClass .inside:hover .icon {
opacity: 0;
right: 15px;
top: 15px;
}

.myClass .inside:hover .contents {
opacity: 1;
-webkit-transform: scale(1);
   -moz-transform: scale(1);
     -o-transform: scale(1);
        transform: scale(1);
-webkit-transform: translateY(0);
   -moz-transform: translateY(0);
     -o-transform: translateY(0);
        transform: translateY(0);
}

.myClass .inside .contents {
padding: 5%;
opacity: 0;
-webkit-transform: scale(0.5);
   -moz-transform: scale(0.5);
     -o-transform: scale(0.5);
        transform: scale(0.5);
-webkit-transform: translateY(-200%);
   -moz-transform: translateY(-200%);
     -o-transform: translateY(-200%);
        transform: translateY(-200%);
-webkit-transition: opacity 0.2s, -webkit-transform 0.8s;
transition: opacity 0.2s, -webkit-transform 0.8s;
-o-transition: opacity 0.2s, -o-transform 0.8s;
-moz-transition: opacity 0.2s, transform 0.8s, -moz-transform 0.8s;
transition: opacity 0.2s, transform 0.8s;
transition: opacity 0.2s, transform 0.8s, -webkit-transform 0.8s, -moz-transform 0.8s, -o-transform 0.8s;
}

.myClass .inside .contents table {
text-align: left;
width: 100%;
}

.myClass .inside .contents h1, .myClass .inside .contents p, .myClass .inside .contents table {
color: white;
}

.myClass .inside .contents p {
font-size: 13px;
}