
body {
  background: url(http://zurb.com/playground/uploads/upload/upload/87/wood-bg.jpg) repeat;
}

.thegallery {
  text-align: center;
  margin-top: 95px;
}

.polaroid-gallery-title {
  font-size: 32px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

.polaroid-card {
  display: inline-block;
  background-color: #eee6d8;
  padding: 10px;
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.7);
}

.polaroid-card-caption {
  text-align: center;
  font-family: "Marker Felt",sans-serif;
  font-size: 12px;
  margin-top: 6px;
  letter-spacing: 2px;
}

.polaroid-card:nth-of-type(even) {
  transform: rotate(12deg);
}

.polaroid-card:nth-of-type(odd) {
  transform: rotate(-12deg);
}

.polaroid-card:nth-of-type(even)::before {
  content: '';
  display: block;
  background-color: rgba(222, 220, 200, 0.66);
  width: 100px;
  height: 25px;
  transform: rotate(-24deg) translate(-30px, -25px);
}

.polaroid-card:nth-of-type(odd)::before {
  content: '';
  display: block;
  background-color: rgba(222, 220, 200, 0.66);
  width: 100px;
  height: 25px;
  transform: translate(140px, -5px) rotate(25deg);
}

.polaroid-card:hover {
  transform: scale(1.5);
}